In [4]:
import pandas as pd
import json

In [18]:
file_to_load_json ="purchase_data.json"
purchase_data = pd.read_json(file_to_load_json, orient="records")
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [23]:
#Number of Unique Items
purchase_data["Item Name"].nunique()
#player_demographics = purchase_data.loc[:,["Gender","SN","Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]

179

In [20]:
#Total Number of Players
pd.DataFrame({"Total Players":[num_players]})

   Total Players
0            573

In [ ]:
#Average Purchase Price

In [ ]:
#Total Number of Purchases
purchase_data["Price"].mean()
item_count = purchase_data[item ID].nunique()

In [ ]:
#Total Revenue

In [ ]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

In [ ]:
pd.DataFrame({"Total Count": [gender_demographics_totals]})

In [ ]:
gender_demographics.round(2)